<header class="site-header">
  <a class="site-title" href="/index-en.html">
    <!-- <img src="{{ site.baseurl }}/the-bass-logo.jpg" alt="{{site.title}} logo" class="site-logo"/> -->
    <img src="{{ site.baseurl }}{{site.logo}}" alt="{{site.title}} logo" class="site-logo"/>
  </a>

<!--   <div class="site-header-wrapper">
    <a class="site-header-menu-link-button" href="{{ site.baseurl }}/welcome">
      <img src="{{ site.baseurl }}/assets/img/icons/info-icon.png"/>
    </a>
  </div>   -->
</header>
