<footer class="site-footer">

  <div class="wrapper">

    <div class="partner-logos">

      <a href="/about-es.html">
        <span style='float:right;font-size:1em;color:gray;border:.1em solid lightgray;color:#555555;border-radius:.2em;padding:.2em'>Sobre nosotros</span>
      </a>
      <!-- <a href='../en' style='float:left;border:.1em solid lightgray;color:#555555;border-radius:.2em;padding:.2em'>English</a> -->
      <!-- <br><br> -->
      <!-- <span style='float:right;font-size:.75em;color:gray'>&copy; 2018 The Bass Museum of Art<br>Desarrollado por Museumcloud.org</span> -->

    </div>
  </div>

</footer>
