<footer class="site-footer">

  <div class="wrapper">

    <div class="partner-logos">

      <a href="/about-en.html">
        <span style='float:right;font-size:1em;color:gray;border:.1em solid lightgray;color:#555555;border-radius:.2em;padding:.2em'>About us</span>
      </a>
      <!-- <a href='../es' style='float:left;border:.1em solid lightgray;color:#555555;border-radius:.2em;padding:.2em'>Espanol</a> -->
      <br><br>
      <span style='float:right;font-size:.75em;color:gray'>&copy; 2018 The Bass Museum of Art<br>Powered by Museumcloud.org</span>

    </div>
  </div>

</footer>
